@import "../../../../data/types/typography.scss";
@import "../../../../data/variables.scss";

.restaurant-container {
    @include desktop-margin;
    display: flex;
    flex-direction:column;
    margin-right: 0px; 
    

    .restaurant-title {
        @include h2;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-align: left;
        transition: var(--transition-time);
        text-transform: uppercase;

        @media (min-width: $desktop-viewport-width) {
            font-size: 30px;
            text-align: center;
        }
    }
              
}
