@import "../../../../data/types/typography.scss";
@import "../../../../data/variables.scss";

.chef-container {
    @include desktop-margin;
    display: flex;
    flex-direction:column;
    margin-right: 0px;
    
    .chef-title {
        @include h2;
        font-size: 18px;
        line-height: 35px;
        letter-spacing: 1.25px;
        text-align: left;
        transition: var(--transition-time);

        @media (min-width: $desktop-viewport-width) {
            font-size: 30px;
            text-align: center;
        }
    }

    .about-the-chef-container {
        display: flex;
        flex-direction: column;
        gap: 24px;

        @media (min-width: $desktop-viewport-width) {
            flex-direction: row;
            gap: 60px;
        }

        img {
            height: 262px;
            
            @media (min-width: $desktop-viewport-width) {

                // min-width: 478px;
                // min-height: 372px;
            }

        }

        .chef-description {
            @include body-text;
            line-height: 28px;
            letter-spacing: 1.25px;
            text-align: left;
            display: inline-block;


            @media (min-width: $desktop-viewport-width) {
                font-size: 24px;
                line-height: 35px;
                text-align: justified;

            }
        }
    }


    .chef-restaurants-container {
        display: flex;
        flex-direction:column;
        .chef-restaurants-container-title {
            @include h2;
            line-height: 25px;
            text-align: left;
            @media (min-width: $desktop-viewport-width) {
                line-height: 35px;
                letter-spacing: 1.25px;
            }
        }

    }
}