@import "../../../data/types/typography.scss", "../../../data/variables.scss", "../../../data/UI/colors.scss";

.button-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  
  @media (min-width: $desktop-viewport-width) {
    display: none;
  }


  button {
    border: none;
    box-sizing: border-box;
    cursor: pointer;
    @include button();
    height: 1000px;
    width: 206px;
    height: 48px;
    .icon-container {
      display: none;
    }
  }

  .icon-btn {
    gap: 10px;
    .icon-container {
      display: block;
      width: 21px;
      height: 24px;
    }
  }
  .disabled {
    background-color: $primary-color-gray;
    cursor: no-drop;
  }
}