@import "../../../data/types/typography.scss", "../../../data/variables.scss", "../../../data/UI/colors.scss";
.card {
    width: $card-moblie-width; 
    background-color: $secondary-color-pearl;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    border-radius: 2px;
  

    &.chef {
        height: $card-moblie-height;
        
        @media (min-width: $desktop-viewport-width) {
            height: $card-chef-desktop-height;
            width: $card-chef-desktop-width;
          
        }
    }

    &.restaurant {
        height: $card-moblie-height;

        @media (min-width: $desktop-viewport-width) {
            width: $card-desktop-width;
            height: $card-restaurant-desktop-height;
        }
    }
    
    &.dish {
        height: $card-dish-moblie-height;

        @media (min-width: $desktop-viewport-width) {
            width: $card-desktop-width;
            height: $card-dish-desktop-height;
        }
    }

    .card-image {
        width: 100%;
        object-fit: cover;
        
        &.chef {
            @media (min-width: $desktop-viewport-width) {
                width: $card-chef-desktop-width;
            }
        }

        &.restaurant{
            @media (min-width: $desktop-viewport-width) {
                width: $card-desktop-width;   
            }
        }

        &.dish {
            @media (min-width: $desktop-viewport-width) {
                width: $card-desktop-width;   
            }
        }
    }

    .card-title{
        @include h3;
        line-height: 22px;
        letter-spacing: 3px;
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 16px 0px 0px 16px  ;
        flex-grow: 1;
       
        @media (min-width: $desktop-viewport-width) {
            text-align: center;
            align-items: center;
            letter-spacing: 4px;
            line-height: 47px;
            padding-top: 20px;
        
           
        }
        
        &.chef {
            @media (min-width: $desktop-viewport-width) {
                font-size: 30px;
            }
        }
        &.dish {
            @media (min-width: $desktop-viewport-width) {
                margin-left: 60px;
                margin-right: 60px;
            }
        }


    }

    .card-body {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 10px 16px 16px;
        gap: 16px;
        flex-grow: 1;

        @media (min-width: $desktop-viewport-width) {
            align-items: center;   
          
        }
        
        &.restaurant {
            .chef-name {
                @include body-text;
                line-height: 20px;
                letter-spacing: 2px;
            }
            
            .stars-rating {
                display: none;
                @media (min-width: $desktop-viewport-width) { 
                    display: flex;
                    align-items: center;
                }
            }
        }
        &.dish {
            .icon-container {
                order: 1;
                gap: 10px;
                @media (min-width: $desktop-viewport-width) {
                    order: 0;
                }
                
                img {
                    width: 36px;
                    height: 23px;
                    @media (min-width: $desktop-viewport-width) {
                        width: 40px;
                        height: 30px;
                    }
                }
            }

            .ingredients {
                @include body-text;
                flex-grow: 1; 
                display: flex;
                flex-direction: column;
                text-align: left;
                line-height: 20px;
                letter-spacing: 2px;
                order: 0;
        
        
        
                @media (min-width: $desktop-viewport-width) {
                    text-align: center;
                    font-size: 24px;
                    line-height: 30px;
                    margin-left: 40px;
                    margin-right: 40px;
                    order: 1;
                
        
        
                }
            } 
        
            .price {
                order: 2;
                display: flex;
                @media (min-width: $desktop-viewport-width) {
                    justify-content: center;
                    align-items: center; 
                    padding-top: 10px;  
                }
        
                hr {
                    display: none;
                    @media (min-width: $desktop-viewport-width) {
                        display: inline;
                        border-top: 1px solid $primary-color-gray;
                        width: 100px;
                        margin-left: 2px;
                        margin-right: 2px;
                    
                    }
                }
                .nis-icon {
                    @media (min-width: $desktop-viewport-width) {
                        width: 12.54px;
                        height: 11.52px;
                    }
                }
        
                .price-value {
                    @include h1;
                    font-size: 16px;
                    line-height: 19px;
                    letter-spacing: 2px;
                    font-weight: 400;
                    font-size: 16px;
                    margin-left: 4px;
                    text-align: center;
        
                    @media (min-width: $desktop-viewport-width) {
                        font-size: 24px;
                        font-weight: 200;
                        line-height: 30px;
                        
                    }
                }
            } 
        }
    }
}
