@import "../variables.scss";
@import "../UI/colors.scss";



h1 {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 24px;
    color: $primary-color-black;

    @media (min-width: $desktop-viewport-width) {   
        font-size: 32px;
    }
}

h2 {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: $primary-color-black;

    @media (min-width: $desktop-viewport-width) {   
   
        font-size: 30px;
    }
}

h3 {
    font-family: $font-family;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    color: $primary-color-black;

    @media (min-width: $desktop-viewport-width) {   
        font-size: 40px;
    }
}

.body-text {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: $primary-color-black;
}

button {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: $primary-color-white;
}

.input-text {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 16px;
    color: $primary-color-black;
}


.Label-text {
    font-family: $font-family;
    font-weight: 200;
    font-style: normal;
    font-size: 14px;
    color: $primary-color-gray;
}