@import "../variables.scss";
@import "../UI/colors.scss";

@mixin font-style {
    font-family: "Helvetica Neue";
    font-style: normal;
}

@mixin h1 {
    @include font-style;
    font-weight: 200;
    font-size: 24px;
    color: $primary-color-black;

    @media (min-width: $desktop-viewport-width) {   
        font-size: 32px;
    }
}

@mixin h2 {
    @include font-style;
    font-weight: 200;
    font-size: 16px;
    color: $primary-color-black;

    @media (min-width: $desktop-viewport-width) {   
   
        font-size: 30px;
    }
}

@mixin h3 {
    @include font-style;
    font-weight: 400;
    font-size: 18px;
    color: $primary-color-black;

    @media (min-width: $desktop-viewport-width) {   
        font-size: 40px;
    }
}

@mixin body-text {
    @include font-style;
    font-weight: 200;
    font-size: 16px;
    color: $primary-color-black;
}

@mixin button-text {
    @include font-style;
    font-weight: 200;
    font-size: 16px;
    color: $primary-color-white;
}

@mixin input-text {
    @include font-style;
    font-weight: 200;
    font-size: 16px;
    color: $primary-color-black;
}


.Label-text {
    @include font-style;
    font-weight: 200;
    font-size: 14px;
    color: $primary-color-gray;
}