@import "../../../../data/types/typography.scss";
@import "../../../../data/variables.scss";
@import "../../../../data/UI/colors.scss";

.icons-meaning-container {
    @include desktop-padding;
    background-color: $secondary-color-offWite;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media (min-width: $desktop-viewport-width) {
        gap: 32px;
    }
  
  .icons-meaning-title {
    @include h2();
    font-size: 18px;
    letter-spacing: 1.25px;
  }
  
  .icons-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    @media (min-width: $desktop-viewport-width) {
        flex-direction: row;
    }
  }  
    
}