@import "../../data/types/typography.scss";
@import "../../data/variables.scss";

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
              
}
