$desktop-viewport-width: 900px;

@mixin desktop-padding {
    padding-left: 20px;
    padding-right: 20px; 
    padding-top: 30px;
    padding-bottom: 30px; 
    
    @media (min-width: $desktop-viewport-width) {
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }
}

@mixin desktop-margin {
    margin-left: 20px;
    margin-right: 20px; 
    margin-top: 30px;
    margin-bottom: 30px; 
    
    @media (min-width: $desktop-viewport-width) {
        margin-left: 130px;
        margin-right: 130px;
    }
}

//moblie
$card-moblie-width: 245px;
$card-moblie-height: 235px;

$card-dish-moblie-height: 390px;

//desktop
$card-desktop-width: 380px;

$card-chef-desktop-width: 230px;
$card-chef-desktop-height: 357px;

$card-restaurant-desktop-height: 405px;
$card-dish-desktop-height: 654px;



